- name: Prepare and Start Service Containers
  hosts: node01
  become: true
  vars_files:
    - ../../vault/secrets.yml
  vars:
    ansible_become_password: "{{ sudo_password }}"

  tasks:
    - name: Create a directory if it does not exist
      ansible.builtin.file:
        path: /opt/docker/compose/services
        state: directory
        mode: "0700"
        owner: "root"

    - name: Copy Monitoring Compose from controller
      ansible.builtin.copy:
        remote_src: false
        src: "{{ controller_deploy_directory }}/docker/compose/services/docker-compose.yml"
        dest: /opt/docker/compose/services/docker-compose.yml
        mode: "0700"
        backup: yes

    - name: Create Docker External Network for WireGuard
      community.docker.docker_network:
        name: wgnet
        ipam_config:
          - subnet: 172.24.0.0/24
            gateway: 172.24.0.1

    - set_fact:
        host_ip: "{{ ansible_default_ipv4.address }}"

    - set_fact:
        host_network: "{{ ansible_default_ipv4.network }}"

    - name: Changing wireguard network in compose
      ansible.builtin.replace:
        path: /opt/docker/compose/services/docker-compose.yml
        regexp: '192\.168\.6\.0'
        replace: "{{ host_network }}"

    - name: Change Pihole network bindings to host IP in service compose
      ansible.builtin.replace:
        path: /opt/docker/compose/services/docker-compose.yml
        regexp: '192\.168\.6\.2'
        replace: "{{ host_ip }}"

    - name: Create and start services
      community.docker.docker_compose_v2:
        project_src: /opt/docker/compose/services/
      register: output
