- name: Install OSCAP for compliance scanning
  hosts: node
  become: true
  vars_files:
    - ../../vault/secrets.yml
  vars:
    ansible_become_password: "{{ sudo_password }}"

  #https://github.com/ComplianceAsCode/content
  #https://www.open-scap.org/security-policies/scap-security-guide/
  tasks:
    - name: Install OSCAP
      ansible.builtin.package:
        name: ssg-debderived
        state: present

    - name: Copy Ubuntu 24 STIG Cotents
      ansible.builtin.copy:
        remote_src: false
        src: "{{ controller_deploy_directory }}/SCAP-Content/U_CAN_Ubuntu_24-04_LTS_V1R1_STIG_SCAP_1-3_Benchmark.xml"
        dest: /usr/share/xml/scap/ssg/content/U_CAN_Ubuntu_24-04_LTS_V1R1_STIG_SCAP_1-3_Benchmark.xml
        mode: "0611"
        backup: no

    - name: Check for Ubuntu 24 STIG
      ansible.builtin.stat:
        path: /usr/share/xml/scap/ssg/content/U_CAN_Ubuntu_24-04_LTS_V1R1_STIG_SCAP_1-3_Benchmark.xml
      register: file_status

    - name: Run OSCAP compliance scan
      ansible.builtin.command:
        #cmd: oscap xccdf eval --profile xccdf_mil.disa.stig_profile_MAC-2_Public --results-arf /tmp/results-arf.xml --report /tmp/results.html /usr/share/xml/scap/ssg/content/U_CAN_Ubuntu_24-04_LTS_V1R1_STIG_SCAP_1-3_Benchmark.xml
        cmd: oscap xccdf eval --profile xccdf_mil.disa.stig_profile_MAC-1_Classified --results-arf /tmp/results-arf.xml --report /tmp/results.html /usr/share/xml/scap/ssg/content/U_CAN_Ubuntu_24-04_LTS_V1R1_STIG_SCAP_1-3_Benchmark.xml
      ignore_errors: true

    - name: Copy scan results back to controller
      ansible.builtin.fetch:
        src: /tmp/results.html
        dest: /home/henry/compliance-report/{{ inventory_hostname }}_results.html
        flat: yes
