- import_playbook: stig1.yml
- import_playbook: stig2.yml
- import_playbook: stig3.yml

- name: Run post STIG tasks
  hosts: node
  become: true
  gather_facts: false
  vars_files:
    - ../../vault/secrets.yml
  vars:
    ansible_become_password: "{{ sudo_password }}"
  tasks:
    - name: System reboot
      ansible.builtin.reboot:
        reboot_timeout: 120
