- name: Install and Prep Docker
  hosts: lab
  become: true
  vars_files:
    - ../vault/secrets.yml
  vars:
    ansible_become_password: "{{ sudo_password }}"

  tasks:
    - name: Create Docker Data Directory
      ansible.builtin.file:
        path: "/opt/docker"
        state: directory

    - name: Docker Demon Config Update
      ansible.builtin.copy:
        dest: /etc/docker/daemon.json
        content: |
          {
            "metrics-addr": "0.0.0.0:9323",
            "experimental" : false,
            "data-root" : "/opt/docker",
            "dns": ["192.168.6.2","8.8.8.8"],
            "userns-remap": "default",
            "log-level": "info",
            "no-new-privileges": false,
            "userland-proxy": true
          }
