- name: Install and Prep Docker
  hosts: lab
  become: true
  vars_files:
    - ../vault/secrets.yml
  vars:
    ansible_become_password: "{{ sudo_password }}"

  tasks:
    #https://docs.docker.com/engine/install/rhel/
    - name: Install dnf plugins-core
      ansible.builtin.dnf:
        name: dnf-plugins-core
        state: latest

    - name: Add Docker CE Repo
      ansible.builtin.command:
        cmd: dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
        creates: /etc/yum.repos.d/docker-ce.repo

    - name: Install Docker
      ansible.builtin.dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: latest

    - name: Enable Docker Service
      ansible.builtin.service:
        name: docker
        enabled: yes
        state: restarted
