- name: Install OSCAP for compliance scanning
  hosts: test
  become: true
  vars_files:
    - ../vault/secrets.yml
  vars:
    ansible_become_password: "{{ sudo_password }}"

  tasks:
    - name: Install OSCAP
      ansible.builtin.package:
        name: openscap-scanner
        state: present

    - name: Install OSCAP scap-security-guide
      ansible.builtin.package:
        name: scap-security-guide
        state: present

    - name: Check for RHEL 9 STIG
      ansible.builtin.stat:
        path: /usr/share/xml/scap/ssg/content/ssg-rhel9-ds.xml
      register: file_status

    - name: Run OSCAP compliance scan
      ansible.builtin.command:
        cmd: oscap xccdf eval --profile xccdf_org.ssgproject.content_profile_stig --results-arf /tmp/results-arf.xml --report /tmp/results.html /usr/share/xml/scap/ssg/content/ssg-rhel9-ds.xml
      register: scan_output

    - name: Print the command output
      ansible.builtin.debug:
        var: scan_output.rc
